/* @font-face{
    font-family: 'PTSans-Bold';
    src: url('../fonts/PTSans-Bold/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold/PTSans-Bold.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold/PTSans-Bold.ttf') format('truetype'),
    url('../fonts/PTSans-Bold/PTSans-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSans-Regular/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular/PTSans-Regular.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular/PTSans-Regular.ttf') format('truetype'),
    url('../fonts/PTSans-Regular/PTSans-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Italic';
    src: url('../fonts/PTSerif-Italic/PTSerif-Italic.eot');
    src: url('../fonts/PTSerif-Italic/PTSerif-Italic.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.woff') format('woff'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.ttf') format('truetype'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Regular';
    src: url('../fonts/PTSerif-Regular/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular/PTSerif-Regular.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.woff') format('woff'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.ttf') format('truetype'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?kfv2o6');
    src:  url('../fonts/icomoon/icomoon.eot?kfv2o6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?kfv2o6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?kfv2o6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?kfv2o6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
 */

@font-face {
  font-family: "Gilroy-Regular";
  src: url("1dc8ecd8056a5ea7aa7de1db42b5b639.eot"); /* IE9*/
  src: url("1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"),
    /* chrome、firefox */ url("1dc8ecd8056a5ea7aa7de1db42b5b639.woff")
      format("woff"),
    /* chrome、firefox */ url("1dc8ecd8056a5ea7aa7de1db42b5b639.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy-Regular") format("svg"); /* iOS 4.1- */
}
