@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Gilroy-Regular/Gilroy-Regular.eot'); /* IE9 eot*/
  src: url('./../fonts/Gilroy-Regular/Gilroy-Regular.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Gilroy-Regular/Gilroy-Regular.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Regular/Gilroy-Regular.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Regular/Gilroy-Regular.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('./../fonts/Gilroy-Bold/Gilroy-Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/Gilroy-Bold/Gilroy-Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Gilroy-Bold/Gilroy-Bold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Bold/Gilroy-Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Bold/Gilroy-Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('./../fonts/Gilroy-Semibold/Gilroy-SemiBold.eot'); /* IE9 eot*/
  src: url('./../fonts/Gilroy-Semibold/Gilroy-SemiBold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Gilroy-Semibold/Gilroy-SemiBold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Semibold/Gilroy-SemiBold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Gilroy-Semibold/Gilroy-SemiBold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Gilroy-SemiBold/Gilroy-Semibold.svg#Gilroy-SemiBold')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: italic;
  src: url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.eot'); /* IE9 eot*/
  src: url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Gilroy-Regularitalic/Gilroy-Regularitalic.svg#Gilroy-Regularitalic')
      format('svg'); /* iOS 4.1- */
}
