.header {
}
.container {
}
.header__nav {
}

.header__top {
  display: flex;
  gap: 81px;
}
.header__logo {
  width: 167px;
  height: 50px;
  background-color: aqua;
}
.header__main-menu {
  display: flex;
  gap: 30px;
}
.header__main-menu-item {
}
.header__main-menu-link {
}
.header__menu {
  display: flex;
  gap: 30px;
}
.header__menu-item {
}
.header__menu-link {
}
.header__menu-icon {
}

.header__product-types-list {
  display: flex;
  gap: 85px;
  background-color: #77c9cc;
}
.header__product-types-list-item {
}
.header__product-types-list-link {
}
.header__menu-icon {
}
