.header {
  margin-bottom: 30px;
}
.header__bottom {
  background-color: #77c9cc;
}
.container {
}
.header__nav {
}

.header__top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 71px;
}

.header__logo {
}
.header__main-menu {
  display: flex;
  gap: 30px;
  overflow: hidden;

  transition: width 1s linear 1s;

  &.searchbar-expanded {
    width: 0 !important;
  }
}

.searchbar-list-item {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  transition: border 1s linear, width 1s linear 1s;
  border: 1px solid rgba(118, 115, 125, 0);
  &.searchbar-expanded {
    border-radius: 5px;
    border: 1px solid rgba(118, 115, 125, 0.5);
    width: 835px !important;

    .header__menu-icon {
      position: absolute;
      z-index: -1;
    }
  }
  .searchbar-container {
    height: 30px;
    width: 0;
    transition: width 0.3s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    // justify-content: center;
    // padding-left: 15px;
    align-items: center;
    opacity: 0;
    .searchbar-input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 5px;
      padding: 15px 50px;
    }
    .searchbar-icon {
      fill: #76737d;
      display: block;
      position: absolute;
      left: 15px;
    }
    &.searchbar-expanded {
      position: relative;
      // width: 200px !important;
      width: 100%;
      opacity: 1;
      z-index: 1;
    }
  }
}

.searchbar-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &.searchbar-expanded {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
// .searchbar-button:hover + .searchbar-container {
//   width: 835px;
// }
.header__main-menu-item {
}
.header__main-menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  padding: 30px 0;

  color: #76737d;
}
.header__menu {
  display: flex;
  // gap: 8px;
  height: 50px;
}
.header__menu-item {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.header__menu-link {
  position: relative;
  // height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.header__menu-icon {
  fill: #76737d;
}

.header__menu-label {
  position: absolute;
  right: 5px;
  top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #176975;
  font-weight: 600;
  font-size: 10px;
  line-height: calc(12 / 10);

  color: white;
}

.header__product-types-list {
  display: flex;
}
.header__product-types-list-item {
  // flex-grow: 1;

  // &:not(:last-child),
  & > a {
    justify-content: center;
  }

  &:last-child > a {
    // justify-content: end;
    &::after {
      display: none;
    }
  }
}
.header__product-types-list-link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  width: 100%;

  text-transform: uppercase;

  color: #ffffff;
  display: flex;
  gap: 10px;
  padding: 19px 42px;

  &.first-link {
    padding-left: 0;
  }
  &.last-link {
    padding-right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;

    background-color: white;
  }
}
// .header__product-types-list-link:not(:first-child) {

// }
// .header__product-types-list-link:not(:last-child) {
//   padding-right: 42px;
// }
.header__product-types-icon {
  fill: white;
}
