.brands {
  margin-bottom: 32px;
}
.brands__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(30 / 24);
}
.brands-list-container {
  overflow-x: auto;
  box-shadow: 0px 5px 20px 0px rgba(214, 214, 214, 0.25);
}
.brands-list {
  min-width: 0;
  padding: 8px 4px;
  display: inline-flex;
  gap: 12px;
  height: 80px;
  border-radius: var(--size-spacing-12, 12px);
  background: #fff;
  justify-content: start;

  li {
    flex-shrink: 0;
    a {
      display: block;
      height: 100%;

      img {
        display: block;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
