.slim-select.ss-main {
  border: 1px solid #e7e6e6;
  border-radius: 10px;
  padding: 15px 15px 15px 20px;
  display: flex;
  gap: 10px;
  width: fit-content;
  overflow: hidden;

  font-size: 14px;
  line-height: calc(17 / 14);
  color: #1e1e1e;

  .slim-select__svg {
    fill: #176975;
    display: block;
    min-width: 20px;
    min-height: 20px;

    transition: transform 0.15s linear;
  }

  &.ss-open-below {
    .slim-select__svg {
      transform: rotate(180deg);
    }
  }
}

#catalog-select {
}

.slim-select.ss-content {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #1e1e1e;
  box-shadow: 0px 5px 20px rgba(23, 105, 117, 0.15);
  .ss-list {
    .ss-option {
      padding: 10px;
      &:hover {
        background-color: #77c9cc !important;
      }
    }
    .ss-option.ss-selected {
      background-color: #77c9cc !important;
      color: #0d727e !important;
      padding: 10px;
    }
  }
}
.select2-selection {
  height: auto !important;
  display: flex !important;
  border: 1px solid #e7e6e6 !important;
  border-radius: 10px !important;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 20px !important;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #1e1e1e;
  width: fit-content !important;
  min-width: 224px;
  transition: box-shadow 0.15s linear, border-radius 0.15s linear;
  .select2-selection__rendered {
    //   background-color: red !important;
    width: fit-content !important;
    padding: 0 !important;

    // width: auto !important;
  }
  .select2-selection__arrow {
    // background-color: blue !important;
    position: static !important;
    height: 20px !important;
  }
}

.select2-container--default.open {
  .select2-selection {
    box-shadow: 0 0 5px rgb(88, 151, 251);
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.select2-results__options {
  //   background-color: #77c9cc;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #1e1e1e;
  box-shadow: 0px 5px 20px rgba(23, 105, 117, 0.15);
  max-height: none !important;
  border: solid 1px solid #e7e6e6 !important;

  .select2-results__option {
    padding: 10px;
  }
}

.select2-dropdown {
  border: 1px solid #e7e6e6 !important;
}

.select2-results__option--highlighted {
  //   background-color: green !important;
  background-color: #77c9cc !important;
}

.select2-results__option--selected {
  //   background-color: purple !important;

  background-color: #77c9cc !important;
  color: #0d727e !important;
  padding: 10px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  background-image: url('./../images/arrow.svg');
  background-color: transparent;
  //   background-size: 9px 6px;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  height: 20px !important;
  width: 20px !important;
  margin: auto !important;
  top: auto !important;
  left: auto !important;
  transition: transform 0.15s linear;
}

.select2-container--default.open
  .select2-selection--single
  .select2-selection__arrow
  b {
  transform: rotate(180deg);
}
