.tabs-bar {
  padding: 0 30px;
  border-bottom: 1px solid #e7e6e6;
}
.tabs-bar__list {
  display: flex;
  gap: 30px;
}
.tabs-bar__list-item {
}
.tabs-bar__link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  align-items: center;
  text-transform: uppercase;
  color: #76737d;
  transition: all 0.3s linear;
  position: relative;
  text-decoration: none;
  border: 0;
  background: transparent;
  padding: 15px 5px;

  transition: color 0.3s linear;
  &::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s linear;
  }
  &.current {
    color: #0d727e;
    &::before {
      background-color: #0d727e;
    }
  }

  &:hover,
  &:focus {
    color: #0d727e;
    &::before {
      background-color: #0d727e;
    }
  }
}
