.top-panel {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  display: block;
  z-index: 1000;
  transition: transform 0.3s linear;
  transform: translateY(0);
}
.top-panel.panel-hidden {
  transform: translateY(-110%);
}

.top-panel.hidden {
  display: none;
}

.top-panel__container {
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
  max-width: 1440px;

  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.top-panel__logo {
  padding-left: 16px;
  padding-right: 16px;
}

.top-panel__catalog-button {
  cursor: pointer;
  background-color: #0d727e;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  color: #fff;
  .top-panel__catalog-icon {
    stroke: #fff;
  }
}

.top-panel-searchbar {
  border: 1px solid rgba(118, 115, 125, 0.5);
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  width: 520px;

  position: relative;
  transition: border 0.3s linear, width 0.3s linear;
  display: flex;
  align-items: center;

  .top-panel-searchbar__close-button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5px;
    cursor: pointer;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .top-panel-searchbar__close-button-icon {
      fill: #76737d;
    }
  }
  .top-panel-searchbar__input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    transition: padding 0.3s linear;
  }
  .top-panel-searchbar__icon-container {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .top-panel-searchbar__icon {
      fill: #76737d;
      display: block;
    }
  }
}

.top-panel__phone-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 186px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  color: #1e1e1e;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  .top-panel__phone-button-icon {
    fill: #76737d;
  }
  .top-panel__phone-button-chevron-icon {
    fill: #2f384c;
  }
}
