body {
  font-size: 18px;
  line-height: 20px;
  color: #474747;
  // overflow-x: hidden;
  font-family: 'Gilroy';
}

.container {
  width: 100%;

  padding: 0 20px;
  margin: 0 auto;

  max-width: $mobile;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
  // @media screen and (min-width: $desktop-wide) {
  //   max-width: $desktop-wide;
  // }
}

.container-fluid {
  width: min(100%, 1210px);
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}
